{% extends "base.html.twig" %}
{% block body %}
    <div class="container text-center" id="profile_box">
        {% if app.user != null %}
            <strong>Потребителско име: </strong>{{ user.username }}<br>
            <strong>Имейл: </strong>{{ user.email }}<br>
            <strong>Име: </strong>{{ user.fullName }}<br>
            <strong>Възраст: </strong>{{ user.age }}
        {% endif %}
    </div>
{% endblock %}