{% extends "base.html.twig" %}
{% block body %}
    {% if app.user != null %}
        <p>------------------------------------------------------------------------------------------------</p>
        <strong>Username: </strong>{{ user.username }}<br>
        <strong>Email: </strong>{{ user.email }}<br>
        <strong>Name: </strong>{{ user.fullName }}<br>
    <strong>Age: </strong>{{ user.age }}
        <p>------------------------------------------------------------------------------------------------</p>
    {% endif %}
{% endblock %}