{% extends "articles/ArticlesByCategory.html.twig" %}
{% block article %}
    <h1 style="text-align: center">{{ category }}</h1>
    <h1 style="text-align: center">There is no articles in this category!</h1>
    <hr>
{% endblock %}